* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    margin-top: 12px;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: none;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #081b29;
    /**background: url()no-repeat;**/
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;


}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    position: relative;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.home-content p {
    position: relative;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solide;
    border-style: groove;
    border-radius: 100%;
    font-size: 50px;
    color: #0ef;
    text-decoration: ;
    margin: 30px 15px 30px;
}

.services-list i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 5px solide #0ef;
    border-style: groove;
    border-radius: 100%;
    font-size: 50px;
    color: #0ef;
    text-decoration: ;
    margin: 30px 15px 30px;
}


.services-list i:hover {
    background: #0ef;
    color: white;
    box-shadow: 0 0 5px #0ef;
}

.home-sci a:hover {
    background: #0ef;
    color: white;
    box-shadow: 0 0 5px #0ef;
}


.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;

}

.image {
    width: 500px;
    height: 300px;
    border-radius: 100px;
    border-style: dashed;
}

.photo {
    width: 100px;
    height: 100px;
    margin-left: -100px;
    margin-top: -15px;
}

.btn-box:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;
}

.about-img img {
    padding-bottom: 20%;
    max-width: 500px;
    height: auto;
    width: 100%;
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 100px;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span {
    color: #0ef;
}

.about-text h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: 2.7;
    margin: 15px 0 30px;
    margin-left: -70px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
    margin-left: -70px;
}

#services {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 100px;
}

.sub-title span {
    color: #0ef;
}

.container {
    padding: 90px;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
    grid-gap: 40px;
    margin-top: -30px;
    padding: 10px 10px;
}

.services-list div {
    background-color: transparent;
    padding: 40px 20px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: backgroud 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
        1px 1px 40px #0053b8f7;
}

.services-list div i {
    font-size: 50px;
    margin-bottom: 30px;

}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list a {
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: 20px 50px;
    background: #0ef;
    border-radius: 35px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwardsrd;
    animation-delay: 2s;
    box-shadow: 0 0 30px #0ef,
        0 0 25px #0ef
}

.read:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.services-list div:hover {
    transform: translateY(-10px);
}

.inner {
    padding-top: 30px;
}

.sub-copany {
    text-align: center;
    font-size: 60px;
    margin-top: -50px;
}

.header2 {
    text-align: center;
    padding: 1rem;
    position: relative;
}

.header2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rems 80px;
    margin-top: 50px;
}

.skill-box {
    padding: 1rem;
    color: #ddd;
    cursor: pointer;

}

.skill-box:hover>.skill-title:after,
.skill-box:hover>.skill-title::before {
    width: 10px;
}

.skill-box:hover {
    transform: translateY(-10px);
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 80px;
    height: 4px;
    margin-right: 110px;
    border-radius: 2px 0 0 2px;
    background-color: #0ef;
    transition: 1s;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 80px;
    height: 4px;
    margin-right: 110px;
    border-radius: 0 2px 2px 0;
    background-color: #0ef;
    transition: 1s;
}

.img {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 80px;
    background: rgb(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px;

}

.skill-title h3 {
    color: #fff;
    margin-top: 10px;
}

.sub-copany span {
    color: #0ef;
}


.skill-icon {
    width: 50px;
    z-index: 2;
}

@media and (max-width:990px) {
    .container2 {
        grid-tempelate-columns: repat(2, 1fr);
        padding: 2rem 50px;
    }

}

@media and (max-width:650px) {
    .container2 {
        grid-tempelate-columns: repat(5fr);
    }

}

#html {
    background-color: rgb(192, 44, 7);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

#css {
    background-color: rgb(39, 2, 250);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

#python {
    background-color: rgb(199, 23, 161);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

#javascript {
    background-color: rgb(208, 211, 24);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

#react {
    background-color: rgb(11, 240, 228);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

#php {
    background-color: rgb(67, 13, 214);
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

}

.main-text {
    padding-top: 13px;
    margin-top: 20px;
}

.main-text h2 {
    font-size: 60px;
    line-height: 1;
    text-align: center;
}

.main-text h2 span {
    color: #0ef;
}

.Portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(359px, auto));
}

.row {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.row img {
    width: 95%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
    margin-left: 10px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p {
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}

.layer i {
    color: #ff004f;
    margin-top: 20px;
    font-size: 20px;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 130px;
}

.contact-text h2 {
    font-size: 90px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #0ef;
}

.contact-text h4 {
    margin: 15px;
    color: rgba(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: rgba(117, 117, 117);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover {
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}

.contact-form form {
    position: relative;
}

.contact-form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

#submit {
    color: #0ef;
}

.contact-form form .Send {
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 35px;
    font-size: 18px;
    color: #0ef;
    letter-spacing: 5px;
    text-decoration: none;
    font-weight: 600px;
    opacity: 0;
    animation: slideTop 1s ease forwardsrd;
    animation-delay: 2s;
    box-shadow: 0 0 30px #0ef,
        0 0 25px #0ef
}

.contact-form form .Send:hover {
    box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan, 0 0 200px cyan;
}

.last-text p {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: rgb(83, 85, 85);
    font-weight: 300;
    margin-top: 70px;
    border: 2px solid rgb(83, 85, 85);
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 2, 1rem;
    margin-left: 10px;
}

.top i {
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}

@media screen and (content: '\F04EF'; 768) {
    .container-data padding: 1rem;

}